
<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total_orders">
			  	<div class="card-header">
			  		<h5 class="card-title">총 주문</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_orders}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="item_ready">
			  	<div class="card-header">
			  		<h5 class="card-title">제품준비중</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{item_ready}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="riding">
			  	<div class="card-header">
			  		<h5 class="card-title">배송중</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{riding}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">배송완료</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{delivered}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>